.accordian {
  width: 700px;
  margin: 15px;

  &__title {
    width: 675px; 
    padding: 25px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(61, 183, 199, 0.7);

    &:hover {
      cursor: pointer;
      background-color: rgba(61, 183, 199, 0.8);
    }

    &::after {
      width: 25px;
      content: "▼";
      float: right;
    }
  }

  &__content {
    background-color: #fff;
    padding: 25px;
    width: 669px;
    border: 3px solid rgba(61, 183, 199, 0.7);
  }
}