
.button {
  margin: 10px;
}
.button a {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
}

.button a:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}