
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: block;
  flex: 1 1 0;
  min-width: 250px;
  max-width: 250px;
  padding: 0px 15px 15px 15px;
  margin: 15px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  
  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0 10px 0px;
  }
}

.card-specific {
  display: flex; 
  flex-direction: row;
  
  & ul {
    list-style: none; 
    padding: 0;
  }

  & li {
    padding: 5px;
  }
  
  &__image {
    flex-basis: 40%; 
  }

  &__text {
    flex-basis: 60%;
    text-align: left; 
  }
}