
.search {
  margin: 15px 0px 25px 0px;

  &__field {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px 0px 0px 10px;
    background-color: #fff;
    outline: none;
  }

  &__submit {
    padding: 11px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;

    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }
}